<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
          https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <profiles>
    <profile>
      <id>nexus</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>java-courses-2021</id>
          <url>https://maven.pkg.github.com/nestor-by/java-courses-2021</url>
        </repository>
        <repository>
          <id>central</id>
          <url>https://repo1.maven.org/maven2/</url>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <servers>
    <server>
      <id>java-courses-2021</id>
      <username>nestor-by</username>
      <password>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</password>
    </server>
  </servers>
</settings>